# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/

# SQLite database files
*.db
*.sqlite
*.sqlite3
parking.db

# *.db
*.jpg


# Uploads and generated media
backend/uploads/
uploads/
/upload/
/**/upload/

# Logs
*.log
nohup.out

# IDEs and editors
.vscode/
.idea/
*.sublime-* 

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Python bytecode
*.pyc

# Files bắt đầu bằng crop_
crop_*
